<div class="page-login">
    <!-- begin #content -->
    <div class="container-login ">
        <div class="login">
            <div class="login-box">
                <!-- form card login -->
                <div class="card rounded-0">
                    <div class="card-header">
                        <h2 class="mb-0 text-center">{{'title.logAPIAdmin' | translate}}</h2>
                    </div>
                    <div class="card-body">
                        <form autocomplete="off" class="form" [formGroup]="form" (ngSubmit)="onLogin()">
                            <div class="form-group">
                                <label class="mb-2">{{'label.username' | translate}}</label>
                                <input type="text" class="form-control" formControlName="username" maxlength="255" autocomplete="new-password" appNoSpace ogpErrorTooltip>
                            </div>
                            <div class="form-group">
                                <label class="mb-2">{{'label.password' | translate}}</label>
                                <input type="password" class="form-control" formControlName="password" maxlength="255" autocomplete="new-password" appNoSpace ogpErrorTooltip>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">{{'button.login'| translate}}</button>
                        </form>
                        <div class="form-group text-center mt-3">
                            <a routerLink="/forgot-password"><u>{{'button.forgotPassword' | translate}}</u></a>
                        </div>
                    </div>
                </div>
                <!-- /form card login -->
            </div>
            <!--/container-->
        </div>
    </div>
    <!-- end content -->
</div>
