<div
  id="page-container"
  class="page-sidebar-fixed page-header-fixed"
  [class.page-sidebar-minified]="isCollapse"
>
  <div id="header" class="header d-flex justify-content-between">
    <!-- begin navbar-header -->
    <div class="flex-center-y">
      <a ref="javascript:void(0)" class="dropdown-item" class="navbar-brand">
        <span class="brand-logo">
          <img
            *ngIf="authService.isAuthenticated(); else logoLogin"
            alt=""
            src="assets/img/logo.png"
            (click)="navigatorLink('user')"
          />
          <ng-template #logoLogin>
            <img alt="" src="assets/img/logo.png"/>
          </ng-template>
        </span>
      </a>
      <span class="brand-text">{{ "title.titleMaster" | translate }}</span>
      <!-- begin navbar-left -->
      <!-- end navbar-left -->
    </div>
    <!-- end navbar-header -->
    <!-- begin navbar-right -->
    <div class="flex-center-y">
      <div class="width-120">
        <select
          class="custom-select"
          (change)="switchLanguage($event.target.value)"
        >
          <option value="en">{{ "language.en" | translate }}</option>
          <option value="vn">{{ "language.vn" | translate }}</option>
          <i class="fas fa-chevron-down text-black"></i>
        </select>
      </div>
      <div
        *ngIf="authService.isAuthenticated()"
        class="pl-3 py-3 mr-3 border-right-grey"
      ></div>
      <div *ngIf="authService.isAuthenticated()" class="dropdown navbar-user">
        <a
          href="javascript:;"
          class="dropdown-toggle py-3"
          data-toggle="dropdown"
        >
          <span class="d-none d-md-inline user-name mr-1">{{
            authService.getFullName()
          }}</span>
          <img alt="" src="assets/img/icon-dropdown-white.svg" class="caret" />
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a
            href="javascript:void(0)"
            class="dropdown-item"
            (click)="navigatorLink('view-profile')"
          >
            View Profile
          </a>
          <a
            href="javascript:void(0)"
            class="dropdown-item"
            (click)="navigatorLink('change-password')"
          >
            Change Password
          </a>
          <a
            href="javascript:void(0)"
            (click)="logOut()"
            class="dropdown-item text-red"
            >Logout</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- end #header -->
  <!-- begin #sidebar -->
  <app-side-bar
    *ngIf="authService.isAuthenticated()"
    [input]="isCollapse"
  ></app-side-bar>
  <!-- end #sidebar -->

  <!-- begin #content -->
  <div
    class="content"
    [ngClass]="{
      'ml-important': isCollapse,
      content: authService.isAuthenticated()
    }"
  >
    <div
      (click)="toggleSidebar()"
      *ngIf="authService.isAuthenticated()"
      class="sidebar-minified-btn"
    >
      <img alt="" [src]="arrowImage" />
    </div>
    <router-outlet></router-outlet>
  </div>
  <!-- end content -->
  <!-- begin footer -->
  <footer>
    <p class="flex-middle m-0">
      {{ "label.footer" | translate }}
    </p>
  </footer>
  <api-comp-dialog #dialog></api-comp-dialog>
  <!-- end footer -->
</div>
<block-ui></block-ui>
