<p-toast [style]="{ marginTop: '50px' }"></p-toast>
<div class="page-login">
    <!-- begin #content -->
    <div class="container-login ">
        <div class="login">
            <div class="login-box">
                <!-- form card login -->
                <div class="card rounded-0">
                    <div class="card-header">
                        <h2 class="mb-0 text-center">{{'title.resetPassword' | translate}}</h2>
                    </div>
                    <div class="card-body">
                        <form autocomplete="off" class="form" [formGroup]="form" (ngSubmit)="onClickReset()">
                            <div class="form-group">
                                <label class="mb-2">{{'label.username' | translate}}</label>
                                <input type="text" class="form-control" formControlName="username" errorTooltip maxlength="255" autocomplete="new-password" appNoSpace>
                            </div>
                            <div class="form-group">
                                <label class="mb-2">{{'label.email' | translate}}</label>
                                <input type="text" class="form-control" formControlName="email" errorTooltip maxlength="255" autocomplete="new-password" appNoSpace>
                            </div>
                            <button class="btn btn-primary w-100 mt-3" type="submit">{{'button.resetPassword' | translate}}</button>
                            <a><button type="button" (click)="onClickBack()" class="btn btn-light w-100 mt-3">{{'button.back' |
                  translate}}</button></a>
                        </form>
                    </div>
                </div>
                <!-- /form card login -->
            </div>
            <!--/container-->
        </div>
    </div>
    <!-- end content -->
</div>
